.profile__add-btn {
  background: none;
  background-image: url(../../../images/add-button.png);
  height: 50px;
  width: 100%;
  max-width: 150px;
  background-repeat: no-repeat;
  background-position: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 2px solid white;
  padding: 0;
}

@media screen and (max-width: 650px) {
  .profile__add-btn {
    max-width: 282px;
  }
}
