.modal__input-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.modal__input-container_single-element {
  position: relative;
  bottom: 15%;
}
