.profile__name {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  font-style: normal;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 650px) {
  .profile__name {
    font-size: 22px;
    line-height: 26.6px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
}
