@import url(../vendor/normalize.css);
@import url(../blocks/vendor/vendor.css);
@import url(../vendor/InterWeb/inter.css);
@import url(../blocks/vendor/body.css);
@import url(../blocks/body-container/body-container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__pic/profile__pic.css);
@import url(../blocks/profile/__text-container/profile__text-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__about-me/profile__about-me.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__card-container/cards__card-container.css);
@import url(../blocks/cards/__trash-btn/cards__trash-btn.css);
@import url(../blocks/cards/__img/cards__img.css);
@import url(../blocks/cards/__footer/cards__footer.css);
@import url(../blocks/cards/__name/cards__name.css);
@import url(../blocks/cards/__like-btn/cards__like-btn.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/modal/modal.css);
@import url(../blocks/modal/__overlay/modal__overlay.css);
@import url(../blocks/modal/__pic-container/modal__pic-container.css);
@import url(../blocks/modal/__close-btn/modal__close-btn.css);
@import url(../blocks/modal/__body/modal__body.css);
@import url(../blocks/modal/__title/modal__title.css);
@import url(../blocks/modal/__input-container/modal__input-container.css);
@import url(../blocks/modal/__input/modal__input.css);
@import url(../blocks/modal/__input-underline/modal__input-underline.css);
@import url(../blocks/modal/__save-btn/modal__save-btn.css);
@import url(../blocks/modal/__pic/modal__pic.css);
@import url(../blocks/modal/__pic-name/modal__pic-name.css);
@import url(../blocks/modal/__input-error/modal__input-error.css);
