@import url(../vendor/normalize.css);
@import url(../blocks/vendor/vendor.css);
@import url(../vendor/InterWeb/inter.css);
@import url(../blocks/vendor/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__pic/profile__pic.css);
@import url(../blocks/profile/__text-container/profile__text-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(../blocks/profile/__about-me/profile__about-me.css);
@import url(../blocks/profile/__add-btn/profile__add-btn.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/cards/__card-container/cards__card-container.css);
@import url(../blocks/cards/__img-container/cards__img-container.css);
@import url(../blocks/cards/__img/cards__img.css);
@import url(../blocks/cards/__footer/cards__footer.css);
@import url(../blocks/cards/__name/cards__name.css);
@import url(../blocks/cards/__like-btn/cards__like-btn.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
